In [1]:
import pandas as pd

In [17]:
measure = pd.read_csv('hawaii_measurements.csv')
measure

           STATION     DATE  PRCP  TOBS
0      USC00519397   1/1/10  0.08    65
1      USC00519397   1/2/10  0.00    63
2      USC00519397   1/3/10  0.00    74
3      USC00519397   1/4/10  0.00    76
4      USC00519397   1/6/10   NaN    73
5      USC00519397   1/7/10  0.06    70
6      USC00519397   1/8/10  0.00    64
7      USC00519397   1/9/10  0.00    68
8      USC00519397  1/10/10  0.00    73
9      USC00519397  1/11/10  0.01    64
10     USC00519397  1/12/10  0.00    61
11     USC00519397  1/14/10  0.00    66
12     USC00519397  1/15/10  0.00    65
13     USC00519397  1/16/10  0.00    68
14     USC00519397  1/17/10  0.00    64
15     USC00519397  1/18/10  0.00    72
16     USC00519397  1/19/10  0.00    66
17     USC00519397  1/20/10  0.00    66
18     USC00519397  1/21/10  0.00    69
19     USC00519397  1/22/10  0.00    67
20     USC00519397  1/23/10  0.00    67
21     USC00519397  1/24/10  0.01    71
22     USC00519397  1/25/10  0.00    67
23     USC00519397  1/26/10  0.04    76
24     USC00519397  1/27/10  0.12    68
25     USC00519397  1/28/10  0.00    72
26     USC00519397  1/30/10   NaN    70
27     USC00519397  1/31/10  0.03    67
28     USC00519397   2/1/10  0.01    66
29     USC00519397   2/3/10   NaN    67
...            ...      ...   ...   ...
19520  USC00516128  7/24/17  0.84    77
19521  USC00516128  7/25/17  0.30    79
19522  USC00516128  7/26/17  0.30    73
19523  USC00516128  7/27/17  0.00    75
19524  USC00516128  7/28/17  0.40    73
19525  USC00516128  7/29/17  0.30    77
19526  USC00516128  7/30/17  0.30    79
19527  USC00516128  7/31/17  0.00    74
19528  USC00516128   8/1/17   NaN    72
19529  USC00516128   8/2/17  0.25    80
19530  USC00516128   8/3/17  0.06    76
19531  USC00516128   8/5/17   NaN    77
19532  USC00516128   8/6/17   NaN    79
19533  USC00516128   8/7/17  0.05    78
19534  USC00516128   8/8/17  0.34    74
19535  USC00516128   8/9/17  0.15    71
19536  USC00516128  8/10/17  0.07    75
19537  USC00516128  8/11/17   NaN    72
19538  USC00516128  8/12/17  0.14    74
19539  USC00516128  8/13/17   NaN    80
19540  USC00516128  8/14/17  0.22    79
19541  USC00516128  8/15/17  0.42    70
19542  USC00516128  8/16/17  0.42    71
19543  USC00516128  8/17/17  0.13    72
19544  USC00516128  8/18/17   NaN    76
19545  USC00516128  8/19/17  0.09    71
19546  USC00516128  8/20/17   NaN    78
19547  USC00516128  8/21/17  0.56    76
19548  USC00516128  8/22/17  0.50    76
19549  USC00516128  8/23/17  0.45    76

[19550 rows x 4 columns]

In [19]:
stations = pd.read_csv('hawaii_stations.csv')
stations

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION
0,USC00519397,"WAIKIKI 717.2, HI US",21.27160,-157.81680,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.42340,-157.80150,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.52130,-157.83740,7.0
3,USC00517948,"PEARL CITY, HI US",21.39340,-157.97510,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.49920,-158.01110,306.6
5,USC00519523,"WAIMANALO EXPERIMENTAL FARM, HI US",21.33556,-157.71139,19.5
6,USC00519281,"WAIHEE 837.5, HI US",21.45167,-157.84889,32.9
7,USC00511918,"HONOLULU OBSERVATORY 702.2, HI US",21.31520,-157.99920,0.9
8,USC00516128,"MANOA LYON ARBO 785.2, HI US",21.33310,-157.80250,152.4

In [18]:
measure = measure.dropna(how='any')
measure

           STATION     DATE  PRCP  TOBS
0      USC00519397   1/1/10  0.08    65
1      USC00519397   1/2/10  0.00    63
2      USC00519397   1/3/10  0.00    74
3      USC00519397   1/4/10  0.00    76
5      USC00519397   1/7/10  0.06    70
6      USC00519397   1/8/10  0.00    64
7      USC00519397   1/9/10  0.00    68
8      USC00519397  1/10/10  0.00    73
9      USC00519397  1/11/10  0.01    64
10     USC00519397  1/12/10  0.00    61
11     USC00519397  1/14/10  0.00    66
12     USC00519397  1/15/10  0.00    65
13     USC00519397  1/16/10  0.00    68
14     USC00519397  1/17/10  0.00    64
15     USC00519397  1/18/10  0.00    72
16     USC00519397  1/19/10  0.00    66
17     USC00519397  1/20/10  0.00    66
18     USC00519397  1/21/10  0.00    69
19     USC00519397  1/22/10  0.00    67
20     USC00519397  1/23/10  0.00    67
21     USC00519397  1/24/10  0.01    71
22     USC00519397  1/25/10  0.00    67
23     USC00519397  1/26/10  0.04    76
24     USC00519397  1/27/10  0.12    68
25     USC00519397  1/28/10  0.00    72
27     USC00519397  1/31/10  0.03    67
28     USC00519397   2/1/10  0.01    66
30     USC00519397   2/4/10  0.01    69
31     USC00519397   2/5/10  0.00    67
32     USC00519397   2/6/10  0.00    67
...            ...      ...   ...   ...
19513  USC00516128  7/17/17  0.39    72
19514  USC00516128  7/18/17  2.40    77
19515  USC00516128  7/19/17  0.27    74
19516  USC00516128  7/20/17  0.70    75
19517  USC00516128  7/21/17  0.10    72
19518  USC00516128  7/22/17  4.00    72
19519  USC00516128  7/23/17  0.80    78
19520  USC00516128  7/24/17  0.84    77
19521  USC00516128  7/25/17  0.30    79
19522  USC00516128  7/26/17  0.30    73
19523  USC00516128  7/27/17  0.00    75
19524  USC00516128  7/28/17  0.40    73
19525  USC00516128  7/29/17  0.30    77
19526  USC00516128  7/30/17  0.30    79
19527  USC00516128  7/31/17  0.00    74
19529  USC00516128   8/2/17  0.25    80
19530  USC00516128   8/3/17  0.06    76
19533  USC00516128   8/7/17  0.05    78
19534  USC00516128   8/8/17  0.34    74
19535  USC00516128   8/9/17  0.15    71
19536  USC00516128  8/10/17  0.07    75
19538  USC00516128  8/12/17  0.14    74
19540  USC00516128  8/14/17  0.22    79
19541  USC00516128  8/15/17  0.42    70
19542  USC00516128  8/16/17  0.42    71
19543  USC00516128  8/17/17  0.13    72
19545  USC00516128  8/19/17  0.09    71
19547  USC00516128  8/21/17  0.56    76
19548  USC00516128  8/22/17  0.50    76
19549  USC00516128  8/23/17  0.45    76

[18103 rows x 4 columns]

In [20]:
stations = stations.dropna(how='any')
stations

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION
0,USC00519397,"WAIKIKI 717.2, HI US",21.27160,-157.81680,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.42340,-157.80150,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.52130,-157.83740,7.0
3,USC00517948,"PEARL CITY, HI US",21.39340,-157.97510,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.49920,-158.01110,306.6
5,USC00519523,"WAIMANALO EXPERIMENTAL FARM, HI US",21.33556,-157.71139,19.5
6,USC00519281,"WAIHEE 837.5, HI US",21.45167,-157.84889,32.9
7,USC00511918,"HONOLULU OBSERVATORY 702.2, HI US",21.31520,-157.99920,0.9
8,USC00516128,"MANOA LYON ARBO 785.2, HI US",21.33310,-157.80250,152.4

In [21]:
measure.to_csv("clean_hawaii_measurements.csv", encoding="utf-8",  index=False)
stations.to_csv("clean_hawaii_statioins.csv", encoding="utf-8", index=False)